{% extends 'base.html' %}

{% load static %}

{% block title %}過去のニュース{% endblock %}

{% block active_oldnews %}oldnews{% endblock %}

{% block contents %}
<div class="container">
    <div class="my-div-style">

        <h2>{{object.title}}</h2>

        <hr>

        <div class="row">
            <div class="col-3">
                {% if object.photo %}
                    <img src="{{ object.photo.url }}" width="100%"/>
                {% endif %}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-9">
                {{object.content|linebreaksbr}}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <p>作成日時</p>
            </div>
            <div class="col-9">
                {{ object.created_at }}
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <p>更新日時</p>
            </div>
            <div class="col-9">
                {{ object.updated_at }}
            </div>
        </div>

    </div>
</div>
{% endblock %}
