{% extends 'base.html' %}

{% load static %}

{% block title %}代表インタビュー{% endblock %}

{% block active_action %}interview{% endblock %}

{% block contents %}

    <div class="container">
        <div class="row">
            <div class="my-div-style">
                <div class="omote-inter-img">
                    <img src="{% static 'assets/img/omote_hp.jpg' %}" width="100%">
                </div>
                <div class="interview-omote">
                    <div class="interview-contents">
                        <h3 style="color: dimgray; border-bottom: solid;">Q.まず自己紹介をお願いします。</h3>
                        <div class="interview-contents-row">
                            <p style="margin: 0;">YSP南愛知連合の代表をしています表祐希です。</p>
                            <p>尊敬する人は、 東京リベンジャーズの主人公の花垣武道です。
                            喧嘩が弱いヤンキーなのですが、負けるとわかっている喧嘩でも、
                            大切な人を守る為に立ち向かい、未来を変えていく姿に心を動かされます。</p>
                        </div>
                    </div>
                    <div class="interview-contents">
                        <h3 style="color: dimgray; border-bottom: solid;">Q.ボランティアを始めたきっかけ・動機は何ですか。</h3>
                        <div class="interview-contents-row">
                            <p>県外から来た自分ですが、名古屋に来て人に恵まれて、親切にして貰い
                            そういう人たちの住む地域のために何かしたいと思いました。
                            「まちの為に何かしたい。」「でも、何ができるだろうか。」
                            そのように考えていく中で、まずは自分達が出来ることからと思い
                            清掃活動を始めたことがきっかけでした。</p>
                        </div>
                    </div>
                    <div class="interview-contents">
                        <h3 style="color: dimgray; border-bottom: solid;">Q.ボランティアの中で一番苦労したことは何ですか。</h3>
                        <div class="interview-contents-row">
                            <p>気持ちを切らさずにやり続けることが苦労したことですかね。
                            名古屋市の美化推進地域の清掃活動を行っているのですが、
                            拾っても拾っても一向に減らないゴミを拾う日々が続き、
                            もう辞めようかなと思う事が何度もありました。</p>
                        </div>
                    </div>
                    <div class="interview-contents">
                        <h3 style="color: dimgray; border-bottom: solid;">Q.そのような中で、ボランティアを続けられた原動力は何ですか。</h3>
                        <div class="interview-contents-row">
                            <p style="margin: 0;">先人達への感謝の想いが僕の力になっています。</p>
                            <p>先人達が頑張ってくれたからこそ今の自分や社会があります。
                            今度は自分がそのバトンを引き継いで、
                            未来に繋げていきたいと考えています。</p>
                        </div>
                    </div>
                    <div class="interview-contents">
                        <h3 style="color: dimgray; border-bottom: solid;">Q.ボランティア団体の今後の目標は。</h3>
                        <div class="interview-contents-row">
                            <p>街の清掃活動や地域創世フォーラム、
                            SDGsセミナーを継続して行っていきながら、
                            多くの人に活動を認知して頂き、一緒になって持続可能な
                            地域社会を創っていきたいと思っています。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}