{% extends 'base.html' %}

{% load static %}

{% block title %}SDGs活動{% endblock %}

{% block active_action %}sdgs{% endblock %}

{% block contents %}

<div class="container">
    <div class="row">
        <div class="my-div-style">
            <div class="clean-walk">
                <div class="text-center">
                    <h3>SDGsAction</h3>
                    <h1>SDGs活動</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid" src="{% static 'assets/img/IMG_9665.JPG' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">SDGs de 地方創世カードゲーム</h2>
                    <p>カードゲームを通して、SDGsを楽しく学ぶ</p>
                    <p>『<strong>SDGs de 地方創世カードゲーム</strong>』では、</p>
                    <p>ファシリテーターでありYSP代表である</p>
                    <p>表講師を迎え、地方創世についても</p>
                    <p>深く考えさせられる内容でした！！</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid" src="{% static 'assets/img/IMG_foram.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">愛知地域未来創造フォーラム</h2>
                    <p>「竜の子街道」地域へのミライ提言として</p>
                    <p>開催されたこのイベントでは、</p>
                    <p>中部国際空港から東に延びる竜の子街道</p>
                    <p>と呼ばれるこのエリアにおいて、</p>
                    <p>また、日本全体において今の自分達にできる</p>
                    <p>ことは何か議論しあっていきました！</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


